/* ! imports */
@import url(./reset.css);
/* !  Variables */
:root {
  --color-primary-50: #f5f3ff;
  --color-primary-100: #ede9fe;
  --color-primary-200: #ddd6fe;
  --color-primary-300: #c4b5fd;
  --color-primary-400: #a78bfa;
  --color-primary-500: #8b5cf6;
  --color-primary-600: #7c3aed;
  --color-primary-700: #6d28d9;
  --color-primary-800: #5b21b6;
  --color-primary-900: #4c1d95;
  --color-primary-950: #2e1065;
  --color-secondary-50: #fefce8;
  --color-secondary-100: #fef9c3;
  --color-secondary-200: #fef08a;
  --color-secondary-300: #fde047;
  --color-secondary-400: #facc15;
  --color-secondary-500: #eab308;
  --color-secondary-600: #ca8a04;
  --color-secondary-700: #a16207;
  --color-secondary-800: #854d0e;
  --color-secondary-900: #713f12;
  --color-secondary-950: #422006;
  --main-white: #fff;
  --text-color: #0f172a;
  --main-gray: #e2e8f0;
  --color-error: #ef4444;
}

/* ! Reset Styles */
html {
  font-size: 62.5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
input {
  background-color: transparent;
  outline: 0;
  border: 0;
  padding: 0.8rem;
  width: 100%;
  color: var(--color-primary-950);
}
.btn--primary {
  color: var(--main-white);
  background-color: var(--color-secondary-500);
  border-radius: 100px;
}
::placeholder {
  color: var(--color-primary-400);
}
/* !login */
.login-container {
  display: flex;
  flex-direction: column;
}
.login__image {
  width: 100%;
  border-radius: 32px 32px 0 32px;
  height: 40vh;
  background-color: var(--color-primary-500);
}

.login__content::after {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  top: -32px;
  right: 0;
  border-radius: 50%;

  box-shadow: 16px -16px 0px var(--color-primary-500);
}
.login__content {
  position: relative;
  margin-top: 3.2rem;
}
.login-form__items {
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
}
.login-form__item {
  margin-bottom: 1.6rem;
}
.login-form__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-50);
  padding: 0.8rem 1.6rem;
  border-radius: 100px;
  margin-bottom: 0.4rem;
}
.login-form__input-password {
  display: flex;
  align-items: center;
}
.login-form__input-icon {
  font-size: 1.6rem;
  color: var(--color-primary-700);
}
.login-form__input-detail {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}
.login-form-error-message {
  color: var(--color-error);
  display: none;
  font-size: 1.2rem;
}
/* ? visible and invisible error message */
.login-form-error-message.visible {
  display: block;
}
.login-form__forgot-password {
  padding: 0.4rem 0;
  text-align: right;
}
.login-form__submit-btn {
  padding: 1.4rem;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 100px;
  margin-bottom: 3.2rem;
}
.login-form__with-google {
  border: 2px solid var(--main-gray);
  border-radius: 100px;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0.8rem 0;
}
.login-form__divider {
  text-align: center;
  padding: 0.8rem;
  position: relative;
  color: var(--text-color);
  font-weight: bold;
}
.login-form__divider::after {
  position: absolute;
  content: " ";
  width: 45%;
  left: 4px;
  height: 2px;
  top: 12px;
  background: var(--main-gray);
}
.login-form__divider::before {
  position: absolute;
  content: " ";
  width: 45%;
  right: 4px;
  height: 2px;
  top: 12px;
  background: var(--main-gray);
}
.login-form__with-google-text {
  text-align: center;
  flex: 1 0 0;
}
@media screen and (min-width: 768px) {
  .login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .login__image {
    height: 100vh;
    border-radius: 32px 0 32px 32px;
    width: 50%;
    position: relative;
  }
  .login__image::after {
    content: " ";
    width: 48px;
    right: -48px;
    border-radius: 50%;
    height: 48px;
    position: absolute;
    box-shadow: -24px -24px 0 var(--color-primary-500);
  }
  .login__content {
    flex: 1 0 0;
  }
  .login-form__items {
    margin: auto;
    width: 80%;
  }
  .login__content::after {
    box-shadow: 16px -16px 0px #fff;
  }
  .login-form__input {
    padding: 1.2rem 1.6rem;
  }
  .login-form__submit-btn {
    padding: 1.8rem;
    font-size: 1.8rem;
  }
  .login-form__forgot-password {
    font-size: 1.2rem;
  }
  .login-form-error-message {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .login-form__items {
    margin: auto;
    width: 60%;
  }
}
