/* ! imports */
@import url(./reset.css);
/* ! variables */
/* ! Reset Styles */
html {
  font-size: 62.5%;
}
button {
  background-color: transparent;
  border: 0;
  outline: 0;
}
input {
    background-color: transparent;
    outline: 0;
    border: 0;
}
